.ulContainer {
	position: absolute;
	background-color: #282a36;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	z-index: -1;
	list-style: none;
  background: radial-gradient(circle at 50% 65%, #44475a 10%, #282a36 50%);
  left: -25%;
  width: 110%;
}

.summary {
	list-style: none;
	font-size: 9vw;
	color: white;
	outline: none;
}

.details {
	position: absolute;
	right: 90%;
	z-index: 2;
}
.ulItem {
	color: white;
	font-family: 'Victor Mono Bold';
	font-size: 5vw;
	position: relative;
	padding-top: 20px;
  left: -14%;
	margin: 2px;
}
.ulItemsActive {
	border-bottom: 2.5px solid #bd93f9;
}
