.container{
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.container span {
    position: absolute;
    font-size: 12vw;
    color: white;
    text-shadow: 2px 2px 10px black;
    z-index: 1100;
}

.containerChild {
    position: absolute;
    width: 100%;
    background: radial-gradient(circle at 50% 65%, #44475a 10%, #282a36 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    
}

.containerChild h2{
    font-size:5vw;
}

.itemActive{
    border-bottom: 0.8vw solid #bd93f9;
}