.container {
	display: flex;
	flex-direction: column;
	margin-top: 2.5vw;
	margin-right: 4.5vw;
	margin-left: 4.5vw;
}

	
.containerLeft{
	align-items: flex-end;
}
.containerTime {
	display: flex;
	flex-direction: row;
}

.timeStart{
	clip-path: polygon(20% 0, 100% 0, 100% 100%, 20% 100%, 0 50%);
    background-color: #44475a;
    margin: 4px -6px;
    padding: 4px 30px;
}
.timeEnd{
	clip-path: polygon(100% 0, 80% 50%, 100% 100%, 0 100%, 0 0);
    background-color: #44475a;
    margin: 4px -3px;
    padding: 4px 30px;
}
.h3{
	font-size: 2.7vw;
}
@media screen and (max-width: 768px) {
	.container{
		margin-left: 8vw;
	}
	.timeStart{
		margin: 4px 0px;
		padding: 2px 10px;
		font-size: 1.7vw;
	}
	.timeEnd{
		margin: 4px -2px;
		padding: 2px 10px;
		font-size: 1.7vw;
	}
	.ulContainer{
		padding: 0px 10px;
	}
	.h4Respons{
		margin: 3px;
		font-size: 2vw;
	}
	.h3{
		font-size: 4vw;
	}
}