.container {
    position: relative;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.ulItems{
    padding: 10px 30px;
    margin: 0px;
    list-style: none;
    cursor: pointer;
}

.ulItemsActive{
    border-bottom: 3px solid #bd93f9 ;  
}