.h2Name {
	margin-top: -25px;
}
.apellido {
	margin-left: 10vw;
}
@media screen and (max-width: 768px) {
	.container{
		display: flex;
		flex-direction: column;
		margin-left: 8vw;
	}
	.container h2{
		font-size: 5vw;
	}
	.h1Name {
		margin: 5px;
		padding: 0px;
	}
	.h1Name span{
		font-size: 7vw;
	}
	.h2Name {
		font-size: 5vw;
		margin: 5px;
		padding: 0px;
		margin-bottom: 20px;
		position: relative;
		z-index: 1;
        text-shadow: 2px 2px 4px black;
	}
	.br {
		display: none;
	}
	.apellido {
		margin-left: 2vw;
	}
}
